<nav class="d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['cars', getUserID()]">My cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="form">Edit car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="car">Current car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>
