<div class="container">
  <form #carForm="ngForm" (ngSubmit)="onSubmit(carForm)"  class="form-group was-validated">
    <input type="hidden" class="form-control" name="key" #key="ngModel" [(ngModel)]="currentCar.key" >
    <h3>Main info</h3>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="category">Category</label>
        <select [ngModel]="currentCar.category.id"
                (ngModelChange)="onChangeCategory($event)"
                class="form-control custom-select"
                id="category"
                name="category" required>
          <option></option>
          <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="make">Make</label>
        <select
                [ngModel]="currentCar.category.make.id"
                [disabled]="!currentCar.category.id"
                (ngModelChange)="onChangeMake($event)"
                class="form-control custom-select"
                id="make"
                name="make" required>
          <option></option>
          <option  *ngFor="let make of makes" [value]="make.value">{{make.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="model">Model</label>
        <select [ngModel]="currentCar.category.make.model.id"
                [disabled]="!currentCar.category.make.id"
                (ngModelChange)="onChangeModel($event)"
                class="form-control custom-select"
                id="model"
                name="model" required>
          <option></option>
          <option  *ngFor="let model of models" [value]="model.value">{{model.name}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="bodyStyle">Body Style</label>
        <select [(ngModel)]="currentCar.category.bodyStyle.id"
                [disabled]="!currentCar.category.id"
                class="form-control custom-select"
                id="bodyStyle"
                name="bodyStyle" required>
          <option></option>
          <option *ngFor="let bodyStyle of bodyStyles" [value]="bodyStyle.value">{{bodyStyle.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="year">Year</label>
        <select [(ngModel)]="currentCar.year"
                class="form-control custom-select"
                id="year"
                name="year" required>
          <option></option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="mileage">Mileage</label>
        <div class="input-group">
          <input [(ngModel)]="currentCar.mileage"
                 class="form-control"
                 id="mileage"
                 name="mileage"
                 type="number"
                 min="0" required>
          <div class="input-group-append">
            <span class="input-group-text">km</span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h3>Price</h3>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="region">Region</label>
        <select [ngModel]="currentCar.region.id"
                (ngModelChange)="onChangeRegion($event)"
                class="form-control custom-select"
                id="region"
                name="region" required>
          <option></option>
          <option *ngFor="let region of regions" [value]="region.value">{{region.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="city">City</label>
        <select [(ngModel)]="currentCar.region.city.id"
                class="form-control
                custom-select"
                id="city"
                name="city" required>
          <option></option>
          <option *ngFor="let city of cities" [value]="city.value">{{city.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input [(ngModel)]="currentCar.price"
                 class="form-control"
                 id="price"
                 name="price"
                 type="number"
                 min="0" required>
        </div>
      </div>
    </div>
    <hr>
    <h3>Photos</h3>
    <div class="row form-group">
<!--      <form class="md-form">-->
<!--        <div class="file-field">-->
<!--          <div class="z-depth-1-half mb-4">-->
<!--            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid" alt="example placeholder">-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-center">-->
<!--            <div class="btn btn-mdb-color btn-rounded float-left">-->
<!--              <span>Choose file</span>-->
<!--              <input type="file">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
      <input #photoInput type="file" (change)="onPhotoUpload($event)" accept="image/*" />
      <br>
      <br>
      <div class="col-6 px-0">
        <div *ngIf="onGetUploadPercent()" class="progress" >
          <div class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar"
               [ngStyle]="{ 'width': (onGetUploadPercent() | async) + '%'}"
          >{{ (onGetUploadPercent() | async) | number }} %</div>
        </div>
        <img *ngIf="onGetUploadURL()" src="{{onGetUploadURL() | async}}" width="100%" alt="carPhoto"><br>
      </div>
    </div>
    <hr>
    <h3>Options</h3>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="gearbox">Gearbox</label>
        <select [(ngModel)]="currentCar.category.gearBox.id"
                [disabled]="!currentCar.category.id"
                class="form-control custom-select"
                id="gearbox"
                name="gearbox">
          <option></option>
          <option *ngFor="let gearbox of gearboxes" [value]="gearbox.value">{{gearbox.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="engineType">Engine Type</label>
        <select [ngModel]="currentCar.engineType.id"
                (ngModelChange)="onChangeEngineType($event)"
                class="form-control custom-select"
                id="engineType"
                name="engineType">
          <option></option>
          <option *ngFor="let engineType of engineTypes" [value]="engineType.value">{{engineType.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="capacity">Capacity</label>
        <div class="input-group">
          <input [(ngModel)]="currentCar.capacity"
                 class="form-control"
                 id="capacity"
                 name="capacity"
                 type="number"
                 min="0.1"
                 step="0.1">
          <div class="input-group-append">
            <span class="input-group-text">l</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="driverType">Driver Type</label>
        <select [(ngModel)]="currentCar.category.driverType.id"
                [disabled]="!currentCar.category.id"
                class="form-control custom-select"
                id="driverType"
                name="driverType">
          <option></option>
          <option *ngFor="let driverType of driverTypes" [value]="driverType.value">{{driverType.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="color">Color</label>
        <select [(ngModel)]="currentCar.color.id"
                class="form-control custom-select"
                id="color"
                name="color">
          <option></option>
          <option *ngFor="let color of colors" [value]="color.value">{{color.name}}</option>
        </select>
      </div>
    </div>
    <hr>

    <div [hidden]="!currentCar.category.id" *ngIf="allOptions">
      <label for="options">Other options</label>
      <app-checkbox-group
        [options]="allOptions | async"
        [selectedValues]="currentCar.category.options"
        (toggle)="onOptionsChange($event)"
        id="options">
      </app-checkbox-group>
    </div>

    <div class="form-group">
      <br>
      <button class="btn btn-success mr-2" type="submit" [disabled]="!carForm.valid">Submit</button>
      <button class="btn btn-danger" type="button" (click)="onResetForm(carForm)">Reset</button>
    </div>
  </form>
</div>
